@import 'normalize';
@import 'common';
@import 'responsive_grid';
@import 'menu';


#header{

	.skills{
		li{
			float: left;
			width: 50%;
			line-height: 1.2em;
		}
	}

	.contact{
		li{
			position: relative;
			line-height: 30px;
			padding-left: 30px;
		}
		.fa{
			position: absolute;
			margin-left:-30px;
		}
	}
	.videobox{
		 position: relative;
		 top: 0;
		 right: 0;
		 bottom: 0;
		 left: 0;
		 overflow: hidden;
		 height: 100%;
		 background: rgba(#000,0.5);
		 
		 .about{
		 
		 		overflow: hidden;
		 		height: 100vh;
		 		background: #fff;
		 		color: #000;

		 		p{
		 			font-weight: bold;
		 			text-align: center;
		 			line-height: 25px;
		 		}

		 		h2{
		 			padding: 5px 10px;
		 			background: #ccc;
		 			color:#fff;
		 			font-weight: normal;
		 			text-shadow: 1px 2px 2px #000;
		 		}

		 }	
	}

	video{
	
		 position: absolute;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);
	 	 min-width: 100%;
	   min-height: 100%;	
	   width: auto;
		 height: auto;
		 z-index: -1;
	}

	.project{
		overflow: hidden;
		// background: #ccc;
		height: 100vh;

	
		.item{
			max-height: 250px;
			overflow: hidden;
			margin-bottom: 20px;
			cursor: pointer;
			//transition: scale 1s;
			h2{
				background: #fff;
				padding: 10px;
				margin-bottom:0px;
				border-radius: 10px 10px 0 0;
				display: none;
			}

			&:hover img{
				transform: scale(1.5);
			}
		}

		img {
			width: 100%;
			border: 1px solid #ccc;
			transition: transform 1s;
		}
	}
	.scene{
		li{
			margin-top: calc(50% - 100px);
			margin-left: calc(50% - 100px);
			
		}
  }
}
