@import 'normalize';
@import 'common';
@import 'responsive_grid';
@import 'menu';


#header{

	.navbar{
		border-radius: 0px;

	}

	.navbar-default{
		background: rgba(0, 0 , 0 , 0.7);
		border: none;

		.navbar-nav{
			a{
				color: white;
				text-transform: uppercase;

				&:hover {
					color: #ccc;
				}
			}

		}
	}
	.videobox{
		 position: relative;
		 top: 0;
		 right: 0;
		 bottom: 0;
		 left: 0;
		 overflow: hidden;
		 height: 100%;
		 background: rgba(#000,0.5);
		 
		 .about{
		 		 		
		 		
		 		overflow: hidden;
		 		height: 100vh;
		 		background: #fff;
		 		color: #000;

		 		p{
		 			font-weight: bold;
		 			text-align: center;
		 			line-height: 25px;
		 		}

		 		h2{
		 			padding: 5px 10px;
		 			background: #ccc;
		 			color:#fff;
		 			font-weight: normal;
		 			text-shadow: 1px 2px 2px #000;
		 		}

		 }	
	}

	video{
	
		 position: absolute;
	   top: 50%;
	   left: 50%;
	   transform: translate(-50%, -50%);
	 	 min-width: 100%;
	   min-height: 100%;	
	   width: auto;
		 height: auto;
		 z-index: -1;
	}

	.project{
		overflow: scroll;
		background: #ccc;
		
		img {
			width: 100%;

		}
	}
}

// 
// #skils{
	
// 	.bg{
// 		position: absolute;
// 		background: #000 url('/img/bg-header.jpg') no-repeat;
// 		background-size: cover;
// 		opacity: 0.3;
// 		height: 100vh;
// 		width: 100%;
// 	}
	

// 	.scene{
// 		.html{
// 			left: calc(40% - 250px) !important;
// 			top: 100px !important;
// 		}
		
// 		.css{
// 			left: 10% !important;
// 			top: 120px !important;
// 		}
// 		.js{
// 			left: 70% !important;
// 			top: 120px !important;
// 		}

// 		.sass{
// 			left: 10% !important;
// 			top: 100px !important;
			
// 			img{
// 				width: 120px;
// 			}
// 		}
// 		.php{
// 			left: 30% !important;
// 			top: 500px !important;
// 			z-index: -1;
			
// 			img{
// 				width: 200px;
// 			}
// 		}
		
// 		.jquery{
// 			left: 60% !important;
// 			top: 500px !important;
// 			z-index: -1;
			
// 			img{
// 				width: 200px;
// 			}
// 		}

// 		.git{
// 			left: 60% !important;
// 			top: 50px !important;
			
// 			img{
// 				width: 200px;
// 			}
// 		}
// 		.less{
// 			left: 20% !important;
// 			top: 50px !important;
			
// 			img{
// 				width: 150px;
// 			}
// 		}

// 	}

// }

// #portfolio{
// 	.item{
// 		max-width: 380px;
// 		height: 300px;
// 		overflow: hidden;
// 		padding: 10px;	

// 		h2{
// 			color: #fff;
// 		}
// 		img {
// 			width: 100%;
// 		}
// 	}
// }
 
